@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Nunito',sans-serif;
    color: #757575;
    height: 100vh;
}
.container{
    width: 1100px;
    max-width: 100%;
    margin: 0 auto;
}

/* INDEX */


/* Header */
header{
    background-color: #FFBE51;
    box-shadow: 0px 4px 14px 0px #00000040;
    margin-bottom: 50px;

}
header .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
header .container nav ul{
    display: flex;
    list-style: none;
}
header .container a {
    text-decoration: none;
    color: white;
}
header .container nav{
    display: flex;
    align-items: center;

}
header .container nav ul li{
    margin: 0 20px;
    text-transform: uppercase;
}
/* Banner */
.banner{
    margin-bottom: 50px;
}
.banner .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.banner h2{
    text-transform: uppercase;
    max-width: 50%;
    font-size: 40px;
}
.banner .container div{
    width: calc(499px*1);
    height: calc(351px*1);
    max-width: 100%;
    max-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
/* Servicos */
.servicos{
    background-color:#E5E5E5;
    color: #000;
    padding: 20px 0;
    margin-bottom: 50px;
}
.servicos .container .opcoes{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.servicos h2{
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.servicos .container .opcoes article p:nth-child(2){
    font-weight: 600;
}
.servicos .container .opcoes article p{
    margin: 5px 0;
}
.servicos .container .opcoes article div{
    background-color: white;
    width: 150px;
    height: 150px;
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 20px;

}
/* Bottom */
.banner{
    margin-bottom: 50px;
}
.bottom .container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.bottom .container div{
    height: 355px;
    width: 498px;
    max-width: 100%;
    max-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.bottom .container div:not(.text){
    max-width: 50%;
    max-height: 50%;
}
.bottom .container div.text{
    text-align: left;
}
/* Footer */
footer:not(.contatoFooter){
    background-color: #FFBE51;
    color: black;
    padding: 30px 0;
    text-transform: uppercase;
    position: relative;
}
footer .container{
    margin-bottom: 80px;
}
footer .container .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
footer .container .content .left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
footer .container ul li{
    list-style: none;
    padding: 5px 0;
}
footer .container ul a {
    text-decoration: none;
    color: black;
}
footer div.base {
    width: 100%;
    background-color: #C4C4C4;
    text-align: center;
    padding: 3px 0;
    position: absolute;
    bottom:0;
}
footer:not(.contatoFooter) iframe{
    max-width: 100%;
}

/* SERVICOS */

/* Titulo */
.center{
    width: 1100px;
    max-width: 100%;
    margin: 0 auto;
    font-size: 18px;
    padding: 20px 0;
}
.opcoesServicos article{
    text-align: center;
    width: 900px;
    max-width: 100%;
    margin: 50px auto;
}
.center h2{
    color:#FFBE51;
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    margin-bottom: 100px;

}
/* Servicos */
.center section.opcoesServicos article .imagem{
    background-color: #B1B1B1;
    width: 325px;
    height: 325px;
    max-width: 100%;
    max-height: 100%;
}
.center section.opcoesServicos article{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.center section.opcoesServicos article .content{
    max-width: 50%;
}
.center section.opcoesServicos article .content p{
    text-align: left;
}
.center section.opcoesServicos article .content a button{
    float:left;
    padding: 5px 100px;
    border: none;
    background-color: #FFBE51;
    color: white;
    font-size: 18px;
    cursor: pointer;
}
.center section.opcoesServicos article .text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    font-size: 30px;
}
.center section.opcoesServicos article .text h3{
    text-transform: uppercase;
}
.center hr {
    border: 3px solid #B1B1B1;
}

/* CONTATO */

/* Formulario */
.contatos .formulario h2{
    color:#FFBE51;
    text-transform: uppercase;
    font-size: 40px;
    text-align: left;
    margin: 0 0 50px 0;
}
.contatos .formulario .formContainer form input{
    margin-bottom: 10px;
    border-radius: 0;
    border: 1px #B1B1B1 solid;
    width: 100%;
    padding: 5px;
}
.contatos .formulario #botaoContatos{
    background-color: #FFBE51;
    color:white;
    border:none;
}
form #mensagem{
    margin-bottom: 10px;
    border: 1px #B1B1B1 solid;
    font-family: 'Nunito',sans-serif;
    color: #757575;
    padding: 5px;
}
/* Contato */
.contato {
    color: black;
    text-transform: uppercase;  

}

.container.contatos{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    flex-wrap: wrap;

}
.container.contatos .contato ul{
    padding:0;
    margin-bottom: 40px;
}
.container.contatos .contato ul li{
    list-style: none;
    padding: 5px 0;
}
.container.contatos .contato ul a {
    text-decoration: none;
    color: black;
}
.contatos iframe{
    height: 40%;
}
body .contatoBody{
    position: relative;
}
footer div.base.contatosFooter {
    color: black;
    width: 100%;
    background-color: #C4C4C4;
    text-align: center;
    padding: 3px 0;
    position: absolute;
    bottom:0;
    left: 0;
}
@media(max-width:880px){
    header .container, .banner .container{
        justify-content: center;
    }
    .banner .container h2{
        text-align:center;
        font-size: 25px;
    }
}
@media(max-width:465px){
    header .container nav ul{
        display: none;
    }
}