@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Nunito',sans-serif;
    color: #757575;
}
.container{
    width: 1100px;
    max-width: 100%;
    margin: 0 auto;
}

/* INDEX */


/* Header */
header{
    background-color: #FFBE51;
    box-shadow: 0px 4px 14px 0px #00000040;
    margin-bottom: 50px;

}
header .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
header .container nav ul{
    display: flex;
    list-style: none;
}
header .container a {
    text-decoration: none;
    color: white;
}
header .container nav{
    display: flex;
    align-items: center;

}
header .container nav ul li{
    margin: 0 20px;
    text-transform: uppercase;
}
/* Banner */
.banner{
    margin-bottom: 50px;
}
.banner .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.banner h2{
    text-transform: uppercase;
    max-width: 50%;
    font-size: 40px;
}
.banner .container div{
    width: calc(499px*1);
    height: calc(351px*1);
    max-width: 100%;
    max-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
/* Servicos */
.servicos{
    background-color:#E5E5E5;
    color: #000;
    padding: 20px 0;
    margin-bottom: 50px;
}
.servicos .container .opcoes{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.servicos h2{
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.servicos .container .opcoes article p:nth-child(2){
    font-weight: 600;
}
.servicos .container .opcoes article p{
    margin: 5px 0;
}
.servicos .container .opcoes article div{
    background-color: white;
    width: 150px;
    height: 150px;
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 20px;

}
/* Bottom */
.banner{
    margin-bottom: 50px;
}
.bottom .container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
}
.bottom .container div:first-of-type{
    height: calc(355px*1);
    width: calc(498px*1);
    max-width: 100%;
    max-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.bottom .container div:not(.text){
    max-width: 100%;
    max-height: 100%;
}
.bottom .container div.text{
    text-align: left;
    max-width: 50%;
}
/* Footer */

footer:not(.contatoFooter){
    background-color: #FFBE51;
    color: black;
    padding: 30px 0 0 0;
    text-transform: uppercase;
}
footer .container{
    margin-bottom: 80px;
}
footer .container .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
footer .container .content .left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
footer .container ul li{
    list-style: none;
    padding: 5px 0;
}
footer .container ul a {
    text-decoration: none;
    color: black;
}
footer div.base {
    width: 100%;
    background-color: #C4C4C4;
    text-align: center;
    padding: 10px 0;

}
footer:not(.contatoFooter) iframe{
    max-width: 100%;
}

/* SERVICOS */

/* Titulo */
.center{
    width: 1100px;
    max-width: 100%;
    margin: 0 auto;
    font-size: 18px;
    padding: 20px 0;
}
.opcoesServicos article{
    text-align: center;
    width: 900px;
    max-width: 100%;
    margin: 50px auto;
}
.center h2{
    color:#FFBE51;
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    margin-bottom: 100px;

}
/* Servicos */
.center section.opcoesServicos article .imagem{
    background-color: #B1B1B1;
    width: 325px;
    height: 325px;
    max-width: 100%;
    max-height: 100%;
}
.center section.opcoesServicos article{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.center section.opcoesServicos article .content{
    max-width: 50%;
}
.center section.opcoesServicos article .content p{
    text-align: left;
}
.center section.opcoesServicos article .content a button{
    float:left;
    padding: 5px 100px;
    border: none;
    background-color: #FFBE51;
    color: white;
    font-size: 18px;
    cursor: pointer;
}
.center section.opcoesServicos article .text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    font-size: 30px;
    flex-wrap: wrap;
}
.center section.opcoesServicos article .text h3{
    text-transform: uppercase;
}
.center hr {
    border: 3px solid #B1B1B1;
}

/* CONTATO */

/* Formulario */
.contatos .formulario h2{
    color:#FFBE51;
    text-transform: uppercase;
    font-size: 40px;
    text-align: left;
    margin: 0 0 50px 0;
}
.contatos .formulario .formContainer form input{
    margin-bottom: 10px;
    border-radius: 0;
    border: 1px #B1B1B1 solid;
    width: 100%;
    padding: 5px;
}
.contatos .formulario #botaoContatos{
    background-color: #FFBE51;
    color:white;
    border:none;
}
form #mensagem{
    margin-bottom: 10px;
    border: 1px #B1B1B1 solid;
    font-family: 'Nunito',sans-serif;
    color: #757575;
    padding: 5px;
}
/* Contato */
.contato {
    color: black;
    text-transform: uppercase;  

}

.container.contatos{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    flex-wrap: wrap;
    gap: 20px;
}
.container.contatos .contato ul{
    padding:0;
    margin-bottom: 40px;
}
.container.contatos .contato ul li{
    list-style: none;
    padding: 5px 0;
}
.container.contatos .contato ul a {
    text-decoration: none;
    color: black;
}
.contatos iframe{
    height: 40%;
}
body .contatoBody{
    position: relative;
}
footer div.base p{
    margin: 0;
}
section.login, .container.contatos{
    height: 72.3vh;
}
footer div.base.contatosFooter {
    color: black;
    width: 100%;
    background-color: #C4C4C4;
    text-align: center;
    padding: 10px 0;
}
/* Trabalhe conosco */
form input:not([type=checkbox]), form textarea, form select{
    width: 100%;
    padding: 5px;
    margin: 5px 0 20px;
    resize: none;
}
form input:not([type=checkbox], [type="file"]):focus, form textarea:focus, form select:focus{
    background-color: #FFBE51;
}
form input:not([type=checkbox], [type="file"]):focus-visible, form textarea:focus-visible, form select:focus-visible{
    outline-color: #757575;
}
form button {
    background-color: #FFBE51;
    padding: 15px 30px;
    border: none;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s;
}
form button:hover{
    background-color: #ffa200;
}
form button:active{
    background-color: #a7731a;
}
form .checkBebidas {
    margin: 5px 0;
}
form .checkBebidas:last-of-type{
    margin-bottom: 30px;
}

/* Login */
.login .container{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.login:not(.cadastroSection) .container img {
    width: calc(543px*0.8);
    max-width: 100%;
    height: calc(382px*0.8);
    margin: 0;
    padding: 0;
}
article.login:not(.cadastro) {
padding: 20px 20px 80px 20px;
box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.25);
text-align: center;
}
.loginForm input{
    width: 50%;
    margin-left: 0;
    padding: 0;
    padding: 15px;
}
.loginForm button{
    display: block;
    width: 100%;
    margin-bottom: 20px;
}
article.login a {
    color:black;
    text-decoration: none;
}
.login h2, .cadastro h2{
    color:#FFBE51;
    text-transform: uppercase;
    font-size: 40px;
    margin: 0 0 50px 0;
}
/* Cadastro */
.cadastro {
    width: 35%;
}

.login.cadastro {
    padding: 20px 20px 10px 20px;
    box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.25);
    text-align: center;
}
/* RESPONSIVIDADE */
@media(max-width: 1224px){
    body{
        font-size: 18px;
    }
    .container {
        width: 990px;
    }
    header .container, .banner .container{
        justify-content: center;
    }
    .banner .container h2{
        text-align:center;
        font-size: 23px;
    }
    .bottom .container{
        justify-content: center;
    }
    .bottom .container div.text {
        max-width: 100%;
    }
    .center section.opcoesServicos article{
       gap:20px;
       text-align: center;
    }
    
    
}
@media(max-width:998px){
    footer .container .content{
        justify-content: center;
    }
    footer .container .content .left{
        justify-content: center;
        text-align: center;
        margin: 0;
        padding:0;
    }
    footer .container .content .left .contato ul{
        margin: 0 0 10px 0;
        padding:0;
    }
    .center section.opcoesServicos article{
        justify-content: center;
    }
    .center section.opcoesServicos article .text h3 {
        text-align: left;
    }
    .container.contatos{
        justify-content: center;
    }
    .contato{
        text-align: center;
    }
    .login .container {
        justify-content: center;
        gap: 20px;
    }
    .login:not(.cadastroSection) .container img {
        width: 80%;
        height: 80%;
    }
    .bottom .container div.text{
        max-width: 80%;
    }
    section.login, .container.contatos{
        min-height: 150vh;
    }
}
@media(max-width:520px){
    .container.contatos {
        width: 250px;
    }
    header .container nav ul{
        display: none;
    }
    .banner .container div {
        background-size: 100vw;
    }
    .bottom .container div:first-of-type{
        background-size: 100vw;
    }
    .center section.opcoesServicos article .content h3{
        text-align: center;
    }
    section.login, .container.contatos{
        min-height: 100vh;
    }

}
@media (max-width: 460px){
    section.login, .container.contatos{
        min-height: 130vh;
    }
}
@media(max-width:400px){
    .center section.opcoesServicos article .content a button{
        padding: 5px 50px;
    }
    .center section.opcoesServicos article .imagem{
        width: 225px;
        height: 225px;
    }
    .contato iframe{
        width: 85%;
    }
}